.idea/
media
/Diplom/.vs/Diplom/FileContentIndex/a606dc31-c95d-44ac-8e85-a4e8f040ae13.vsidx
/Diplom/.vs/Diplom/FileContentIndex/dbab274b-9b28-4dad-bf32-d4174e90ff31.vsidx
/Diplom/.vs/Diplom/FileContentIndex
