{% extends 'base.html' %}

{% block content %}
<div class="container">

        <h1 style="text-align: center; margin-top: 90px;"></h1>

        <div class="alert alert-info" role="alert">
            <h1 style="text-align: center; margin-top: 10px;">Трунов К. А.</h1>
        </div>

        <div class="alert alert-success" role="alert">
            <h4>
                <strong>
                    - Специальность: ПКС <br>
                    - Студент группы: 4ПКС-220 <br>
                    - О себе: Программирую, пью чай и кайфую.
                </strong>
            </h4>
        </div>

        <h1 style="text-align: center; margin-top: 90px;"></h1>

        <div class="alert alert-info" role="alert">
            <h1 style="text-align: center; margin-top: 10px;">Пелипенко В. Б.</h1>
        </div>

        <div class="alert alert-success" role="alert">
            <h4>
                <strong>
                    - Специальность: ПКС <br>
                    - Студент группы: 4ПКС-220 <br>
                    - О себе: Учусь.
                </strong>
            </h4>
        </div>

        <h1 style="text-align: center; margin-top: 90px;"></h1>
    </div>
{% endblock %}