{% extends 'base.html' %}

{% block content %}
<div class="first-text white-text">
    <h1 style="margin-bottom: 40px;">Диплом</h1>
</div>
<div class="container">
    <div class="alert alert-primary" role="alert">
        <h2 class="h4" style="margin-bottom: 20px;">Зачем мы сделали данный проект:</h2>
    </div>
    <div class="alert alert-secondary" role="alert">
        <ul style="font-size: 18px;">
            <li>Улучшение уровня владения английским языком</li>
            <li>Демонстрация на примерах, а не сухая теория</li>
            <li>Соревновательный момент</li>
            <li>Новаторские тесты</li>
        </ul>
    </div>
    <div class="alert alert-primary" role="alert">
        <h2 class="h4" style="margin-bottom: 20px;">Что нас выделяет среди аналогов:</h2>
    </div>
    <div class="alert alert-secondary" role="alert">
        <p class="mb-3" style="font-size: 18px;">Мы не делаем упор на что-то одно, а стараемся прокачивать ваши навыки владения языком с помощью различных средств.</p>
    </div>
    <div class="alert alert-primary" role="alert">
        <h2 class="h4" style="margin-bottom: 20px;">Структура сайта:</h2>
    </div>
    <div class="alert alert-secondary" style="margin-bottom: 40px;" role="alert" >
        <ul style="font-size: 18px;">
            <li>Главная - описание нашего проекта</li>
            <li>Тесты - страница для проверки ваших знаний</li>
            <li>Профиль - страница с Вашими данными</li>
            <li>Информация о нас - краткие описания о Нас</li>
            <li>Список пользователей - список, с никнеймами всех пользователей</li>
            <li>Ссылки на учебные материалы - ссылки на стороние источники, а так же ассациация к слову</li>
        </ul>
    </div>
</div>
{% endblock %}
