{% extends 'base.html' %}

{% block content %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        textarea {
            width: 100%;
            min-height: 200px;
            max-height: 50%;
            box-sizing: border-box;
            resize: vertical;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #ccc;
        }

        .btn {
            margin-top: 20px;
        }
    </style>
    <div class="container" style="text-align: center;">
        <h1 class="white-text first-text" style="margin-bottom: 20px;"><strong>{% if request.user.use_english %}Writing{% else %}Письмо{% endif %}</strong></h1>
        <form method="post">
            {% csrf_token %}
            <textarea name="not_checked_text" id="not_checked_text" style="color: {% if text  %}red{% else %}black{% endif %}">{{ text|safe }}</textarea>
            <div class="submit-button-container">
                <div class="d-grid gap-2 d-flex justify-content-center">
                    <input class="btn btn-primary btn-lg" type="submit" value="{% if request.user.use_english %}Send{% else %}Отправить{% endif %}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
