{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="white-text first-text" style="margin-bottom: 40px;">Личный профиль</h1>
        <div style="background-color: grey; width: 310px; border: 5px solid black; border-radius: 25px; margin: 0 auto;">
            <img src="https://storage.googleapis.com/multi-static-content/previews/artage-io-thumb-198da939ef8b67952b65bebae63855c4.png" alt="" style="height:300px;">
        </div>
        <div class="text-center">
            <h2 style="align: center; color: white;">{{request.user.username}}</h2>
        </div>
        <div class="alert alert-dark" role="alert" style="margin-top: 50px;">
            <h4>Фамилия: <input type="text" class="form-control" placeholder="Фамилия" aria-label="FirstName" aria-describedby="basic-addon1"></h4>
        </div>

        <div class="alert alert-dark" role="alert">
            <h4>Имя: <input type="text" class="form-control" placeholder="Имя" aria-label="LastName" aria-describedby="basic-addon1"></h4>
        </div>

        <div class="alert alert-dark" role="alert">
            <h4>Отчество: <input type="text" class="form-control" placeholder="Отчество" aria-label="Patronymic" aria-describedby="basic-addon1"></h4>
        </div>

        <input type="checkbox" {% if False %} checked {% endif %}><strong class="checkbox-label" style="color: white; font-size: 20px;"> Использовать Английский язык для интерфейса</strong>
        <input type="submit" value="Сохранить" style="background-color: white; border-radius: 5px; border: 3px solid lightskyblue; font-weight: bold; font-size: 20px; color: grey; display: block; margin: 0 auto 15px;">

        <div class="container text-center" style="margin-bottom: 20px;">
            <form method="post" action="{% url 'delete_accaunt' %}" onsubmit="return confirmDelete()">
                {% csrf_token %}
                <!-- Ваши поля формы и кнопка для удаления аккаунта -->
                <button type="submit" class="btn btn-danger">Удалить аккаунт !!!</button>
            </form>
        </div>
    </div>

    <script>
        function confirmDelete() {
            var value = confirm("ВЫ ТОЧНО ХОТИТЕ УДАЛИТЬ АККАУНТ? ЭТО ДЕЙСТВИЕ НЕЛЬЗЯ БУДЕТ ОТМЕНИТЬ !!!");
            return value; // Возвращаем результат подтверждения в форму
        }
    </script>
{% endblock %}
