{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="white-text first-text" style="margin-bottom: 40px;">{% if request.user.use_english %}Personal profile{% else %}Личный профиль{% endif %}</h1>
        <div style="background-color: grey; width: 310px; border: 5px solid black; border-radius: 25px; margin: 0 auto;">
            {% load static %}
            {% if request.user.image %}
                <img id="user-image" src="{{ request.user.image.url }}" alt="" style="height:300px;">
            {% else %}
                <img id="user-image" src="{% static 'чел.png' %}" alt="" style="height:300px;">
            {% endif %}
        </div>
        <div class="text-center">
            <h2 style="align: center; color: white;">{{ request.user.username }}</h2>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <div class="alert alert-dark" role="alert" style="margin-top: 50px;">
                <h4>{% if request.user.use_english %}Last name: {% else %}Фамилия: {% endif %}
                    <input type="text" class="form-control" placeholder="{% if request.user.use_english %}LastName{% else %}Фамилия{% endif %}" aria-label="LastName" aria-describedby="basic-addon1" name="LastName" value="{{ request.user.last_name }}">
                </h4>
            </div>

            <div class="alert alert-dark" role="alert">
                <h4>{% if request.user.use_english %}First name: {% else %}Имя: {% endif %}
                    <input type="text" class="form-control" placeholder="{% if request.user.use_english %}FirstName{% else %}Имя{% endif %}" aria-label="FirstName" aria-describedby="basic-addon1" name="FirstName" value="{{ request.user.first_name }}">
                </h4>
            </div>

            <div class="alert alert-dark" role="alert">
                <h4>{% if request.user.use_english %}Patronymic: {% else %}Отчество: {% endif %}
                    <input type="text" class="form-control" placeholder="{% if request.user.use_english %}Patronymic{% else %}Отчество{% endif %}" aria-label="Patronymic" aria-describedby="basic-addon1" name="Patronymic" value="{{ request.user.patronymic }}">
                </h4>
            </div>

            <input type="checkbox" {% if request.user.use_english %} checked {% endif %} aria-label="UseEnglish" name="UseEnglish">
            <strong class="checkbox-label" style="color: white; font-size: 20px;">
                {% if not request.user.use_english %} Use English for interface{% else %} Использовать Английский язык для интерфейса{% endif %}
            </strong>
            <br>
            <input type="checkbox" {% if request.user.anonymous %} checked {% endif %} aria-label="Anonymous" name="Anonymous">
            <strong class="checkbox-label" style="color: white; font-size: 20px;">
                {% if request.user.use_english %} Anonymous{% else %} Анонимный пользователь{% endif %}
            </strong>
            <input type="submit" value="{% if request.user.use_english %}Save{% else %}Сохранить{% endif %}" style="background-color: white; border-radius: 5px; border: 3px solid lightskyblue; font-weight: bold; font-size: 20px; color: grey; display: block; margin: 2vh auto 15px;">
        </form>


        <!-- Кнопка для вызова модального окна -->
        <div class="container text-center"> <!-- Добавлен класс text-center -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="margin-bottom: 2vh;">
                {% if request.user.use_english %}Delete account !!!{% else %}Удалить аккаунт !!!{% endif %}
            </button>
        </div>

        <!-- Модальное окно -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{% if request.user.use_english %}Confirming account deletion{% else %}Подтверждение удаления аккаунта{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>{% if request.user.use_english %}Do you really want to delete the account?{% else %}Вы действительно хотите удалить аккаунт?{% endif %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% if request.user.use_english %}Cancel{% else %}Отмена{% endif %}</button>
                <form method="post" action="{% url 'delete_accaunt' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">{% if request.user.use_english %}Delete{% else %}Удалить{% endif %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script>
        document.getElementById("user-image").addEventListener("click", function() {
            var input = document.createElement("input");
            input.setAttribute("type", "file");
            input.click();

            input.addEventListener("change", function() {
                var file = input.files[0];
                if (file) {
                    var formData = new FormData();
                    formData.append("image", file);

                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'upload_image' %}", true);
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                var responseData = JSON.parse(xhr.responseText);
                                document.getElementById("user-image").src = responseData.image_url;
                            } else {
                                console.error("Error:", xhr.status);
                            }
                        }
                    };
                    xhr.send(formData);
                }
            });
        });
    </script>


    <script>
        function confirmDelete() {
            var value = confirm("{% if request.user.use_english %}Do you really want to delete the account?{% else %}Вы действительно хотите удалить аккаунт?{% endif %}");
            return value; // Возвращаем результат подтверждения в форму
        }
    </script>
{% endblock %}