{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="container">
        <h1 class="white-text first-text" style="margin-bottom: 40px;"><strong>{% if request.user.use_english %}Pick the right word{% else %}Выберете правильное слово{% endif %}</strong></h1>
        <h2 class="text-white text-center mt-4">{% if request.user.use_english %}Word{% else %}Cлово{% endif %}:<br>{{ proposal }}</h2>
    </div>
    {% if properly %}
        <div class="alert alert-success" style="margin-top: 40px;">
            {{properly}}
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger" style="margin-top: 40px;">
            {{ error }}
        </div>
        {% endif %}
    <form method="post"> <!-- Добавлен тег формы -->
        {% csrf_token %}
        <div class="album py-5">
            {% for i in words %}
                <div class="alert alert-dark" role="alert">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="{{ i.name }}">
                        <label class="form-check-label" for="exampleRadios3">
                            {{ i.name }}
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="submit-button-container">
            <div class="d-grid gap-2 d-flex justify-content-center">
                <button class="btn btn-primary btn-lg" type="submit">{% if request.user.use_english %}Send{% else %}Отправить{% endif %}</button> <!-- Заменено на кнопку -->
            </div>
        </div>
    </form> <!-- Закрыт тег формы -->
</div>
{% endblock %}
