{% extends 'base.html' %}
<!--{% load static %}-->

{% block content %}
<div class="container">
    <form id="search-form">
        <input type="text" id="search-term" placeholder="Введите запрос">
        <button type="submit">Найти</button>
    </form>

    <div id="image-container"></div>

    <script>
        document.getElementById("search-form").addEventListener("submit", function(event) {
            event.preventDefault(); // Предотвратить отправку формы
            var searchTerm = document.getElementById("search-term").value;
            searchImages(searchTerm);
        });

        function searchImages(term) {
            var formData = new FormData();
            formData.append("text", term);

            fetch("https://yandex.ru/images/search", {
                method: "POST",
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                displayImages(data);
            })
            .catch(error => console.log(error));
        }

        function displayImages(html) {
            var container = document.getElementById("image-container");
            container.innerHTML = html;
        }
    </script>
</div>
{% endblock %}