{% extends 'base.html' %}
{% block content %}
<style>
    .f:hover {
        color: grey;
    }
</style>

<div class="container">
    <h1 class="white-text first-text" style="text-align: center; margin-bottom: 40px;">Список пользователей</h1>
    {% for user in users %}
        <div class="alert {% if forloop.counter|divisibleby:2 %}alert-primary {% else %}alert-secondary {% endif %}" role="alert">
            <h4>
                <strong>
                    {{ user.username }}
                </strong>
            </h4>
        </div>
    {% endfor %}
</div>
{% endblock %}
