{% extends 'base.html' %}
{% block content %}
<style>
    .f:hover {
        color: grey;
    }
</style>

<div class="container">
    <h1 class="white-text first-text" style="text-align: center;">Список пользователей</h1>
    {% for user in users %}
        {% if not user.is_staff %}
            <div class="alert alert-success" role="alert">
                <h4>
                    <strong>
                        {{ user.username }}
                    </strong>
                </h4>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
