{% extends 'base.html' %}
{% block content %}
<style>
    .card-body {
        display: flex;
        height: 112px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
<div class="container">
    <h1 style="text-align: center; padding-top: 40px" class="white-text">
        <strong>
            {% if request.user.use_english %}Study materials{% else %}Учебные материалы{% endif %}
        </strong>
    </h1>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="http://duolingo.com/">
                            {% load static %}
                            <img class="img" src="{% static 'Duolingo-Logo-2019-present.jpg' %}" alt="">
                        </a>
                        <div class="card-body">
                            <h2 class="card-text" style="font-size: 1.25rem;">
                                <a href="http://duolingo.com/" style="text-decoration: none; color: inherit;">Duolingo - {% if request.user.use_english %}Website and mobile application for learning foreign languages{% else %}Сайт и мобильное приложение для изучения иностранных языков{% endif %}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="https://lingualeo.com/ru">
                            <img class="img" src="{% static 'woman.png' %}" alt="">
                        </a>
                        <div class="card-body">
                            <h2 class="card-text" style="font-size: 1.25rem;">
                                <a href="https://lingualeo.com/ru" style="text-decoration: none; color: inherit;">LinguaLeo - {% if request.user.use_english %}Website and mobile application for learning foreign languages{% else %}Сайт и мобильное приложение для изучения иностранных языков{% endif %}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="https://www.memrise.com/">
                            <img class="img" src="{% static 'Learning.png' %}" alt="">
                        </a>
                        <div class="card-body">
                            <h2 class="card-text" style="font-size: 1.25rem;">
                                <a href="https://www.memrise.com/" style="text-decoration: none; color: inherit;">MemRise - {% if request.user.use_english %}Website and mobile application for learning foreign languages{% else %}Сайт и мобильное приложение для изучения иностранных языков{% endif %}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="card shadow-sm">
                        <a href="{% url 'translateWord' %}">
                            <img class="img" src="{% static 'brain.jpg' %}" alt="">
                        </a>
                        <div class="card-body">
                            <h2 class="card-text" style="font-size: 1.25rem;">
                                <a href="{% url 'translateWord' %}" style="text-decoration: none; color: inherit;">{% if request.user.use_english %}The picture associated with the word{% else %}Картинка ассоциированная со словом{% endif %}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="card shadow-sm">
                        <a href="https://disk.yandex.ru/d/5-_j4ajTaQ6TIQ">
                            <img class="img" src="{% static 'mob.jpg' %}" alt="">
                        </a>
                        <div class="card-body">
                            <h2 class="card-text" style="font-size: 1.25rem;">
                                <a href="https://disk.yandex.ru/d/5-_j4ajTaQ6TIQ" style="text-decoration: none; color: inherit;">{% if request.user.use_english %}Download our mobile app{% else %}Скачать наше мобильное приложение{% endif %}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="card shadow-sm">
                        <a href="{% url 'all_words' %}">
                            <img class="img" src="{% static 'words.jpg' %}" alt="">
                        </a>
                        <div class="card-body">
                            <h2 class="card-text" style="font-size: 1.25rem;">
                                <a href="{% url 'all_words' %}" style="text-decoration: none; color: inherit;">{% if request.user.use_english %}Dictionary{% else %}Словарь{% endif %}</a>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="card shadow-sm">
                        <a href="{% url 'text_to_audio' %}">
                            <img class="img" src="{% static 'нашуники.jpg' %}" alt="">
                        </a>
                        <div class="card-body">
                            <h2 class="card-text" style="font-size: 1.25rem;">
                                <a href="{% url 'text_to_audio' %}" style="text-decoration: none; color: inherit;">{% if request.user.use_english %}Converting Text to Audio{% else %}Преобразование текста в Аудио{% endif %}</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
